<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" /><link rel="stylesheet" href="/css/about.css" />
</head>
<body>
  <nav>
    <div class="logo">FitHub</div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">Features</a>
            <ul>
                <li><a href="/meals">Meal Planner</a></li>
                <li><a href="/hiking">Get Active</a></li>
                <li><a href="#">Bmi</a></li>
            </ul>
        </li>
        <li><a href="#">Diet</a>
            <ul>
                <li><a href="#">Breakfast</a></li>
                <li><a href="#">Lunch</a></li>
                <li><a href="#">Dinner</a></li>
                <li><a href="#">More</a>
                    <ul>
                        <li><a href="#">Snacks</a>
                        <li><a href="#">Drinks</a>
                        <li><a href="#">Fruits</a>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="/about">About us</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>

<!-- jacky starts -->

<h1 class="aboutHeader"> Meet the team!</h1>   

<div class="team">
    <div class="members">
        <img src="/rehan.jpg" alt="Rehan" width="300" height="auto">
        <p>Rehan Siraj </p>
        <h6>Role</h6>
    </div>

    <div class="members">
        <img src="/jacky.jpg" alt="Jacky" width="300" height="auto">
        <p>Jackeline Mendoza</p>
        <h6>Role</h6>
    </div>

    <div class="members">
        <img src="/iman.jpg" alt="Iman" width="300" height="auto">
        <p>Iman Momoh</p>
        <h6>Role</h6>
    </div>

    <div class="members">
        <img src="/puran.jpeg"  width="300" height="auto" alt="Puran">
        <p>Puran Bhujel</p>
        <h6>Role</h6>
    </div>

</div>




      <footer>
        <div id="logoFooter">
          <p class="logo">FITHUB</p>
        </div>
        <p>Copyright&copy; 2022 | FitHub </p>
        <div class="media">
          <a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>&nbsp; |
          <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a> |
          <a href="https://www.Youtube.com"><i class="fab fa-youtube"></i></a> |
                <a href="https://www.snapchat.com"><i class="fab fa-snapchat"></i></a> 
        </div>
      </footer>
</body>
</html>


  