<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/map.css">
    <script src="https://kit.fontawesome.com/8f6e3efd56.js" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <title>FITHUB | Get Fit Map</title>
    
</head>
<body>
    <!-- header section -->
    <nav>
        <a href="/"><div class="logo">FitHub</div></a>
        <ul>
            <li><a href="/meals">Meal Planner</a></li>
            <li><a href="/gym">Get Active</a></li>
            <li><a href="/about">About us</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    </nav>

    <div id="activityMap" class="map">
        <div class="activities">
            <a href=/hiking><p>Hiking</p></a> 
            <a href=/gym><p>Gym</p></a> 
            <a href=/soccer><p>Soccer</p></a>
            <a href=/rockclimbing><p>Rock Climbing</p></a>
            <a href=/zumba><p>Zumba</p></a>
            <a href=/crossfit><p>Cross-Fit</p></a>
        </div>
        <iframe width="600" height="450" style="border:0" loading="lazy" allowfullscreen src="<%= url %>"></iframe>
    </div>

    <div class="footeradjustment"></div>
    <footer class="footerMeals">
            <a href="/"><p class="copyright">Copyright&copy; 2022 | FitHub</p></a>
            <div class="media">
                <a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>&nbsp; 
                <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a> 
                <a href="https://www.Youtube.com"><i class="fab fa-youtube"></i></a> 
                <a href="https://www.snapchat.com"><i class="fab fa-snapchat"></i></a> 
            </div>
	</footer>
</body>
</html>