<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styless.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <title>Map</title>
    
</head>
<body>
    <div id="activityMap" class="container">
        <fieldset>
            <form action="/api/<%= value %>" method="get">
                <select name="" id="diet">
                    <option value="hiking">Hiking</option>
                    <option value="biking">Biking</option>
                    <option value="soccer">Soccer</option>
                </select>
                <input type="submit" class="ghost-button" value="Go!">
            </form>
        </fieldset>
        <iframe width="600" height="450" style="border:0" loading="lazy" allowfullscreen src="<%= url %>"></iframe>
    </div>
</body>
<script src="/calorieCalculator.js"></script>
</html>