*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
  }

.aboutHeader{
    text-align: center;
    padding: 2em;
}

/* .members{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: center;
} */

.team{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.members{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
