*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
  }

  .aboutHeader h1{
    text-align: center;
    padding-top: 3%;
    font-size: 3rem;
}

.aboutHeader h2{
    text-align: center;
    padding: 2.5rem;
}


.aboutHeader h4{
    text-align: center;
    padding-bottom: 2%;
    font-size: 1rem;
}


.team{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.members{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;

}

.mission{
    background-color: olivedrab;
    font-size: 2rem;
    color: white;
    text-align: center;
    padding: 2rem;
}


.about{
    font-size: 2rem;
    text-align: center;
    padding: 2rem;
}

