.footerMeals{
    position: fixed;

}

fieldset{
    border: none;
    text-align: center;
    margin-top: 30px;
    display: block;
}

.media i {
    font-size: 35px;
    color: white;
    border-radius: 50%;
}
.meal {
    font-size: 18px;
    margin: 10px;
}

